@using LoneWolf.Models
@using LoneWolf.Models.Book01
@using LoneWolf.Views
@model Section000
<html>
<head>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<h1>@Model.Number</h1>
	@Model.Body
	@foreach(var choice in Model.Choices)
	{
		<div class="@choice.GetCssClass()">
			@choice.Body
		</div>
	}
	<h2>@Model.Foo</h2>
</body>
</html>