@using LoneWolf.Models
@using LoneWolf.Views
@model Section
<html>
<head>
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<h1>@Model.Number</h1>
	@Model.Body
	@foreach(var choice in Model.Choices)
	{
		<div id="@choice.Number" class="@choice.GetCssClass()">
			@choice.Body
		</div>
	}
</body>
</html>